*{
  margin: 0;
  padding: 0;
   
}

.container{
  background-color: rgb(168, 197, 245);
  margin-top: 50px;
  max-width: 30%;
}
.main-layout{
  display: flex;
  padding: 50px;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto; 
}